body {
padding-top: 5rem;
}
.starter-template {
padding: 3rem 1.5rem;
text-align: center;
}
.footer {
text-align: center;
font-size: 16px;
height: 60px;
line-height: 60px;
}
.form-account { // < here
width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;
}